<div class="auth-card">
     <!-- <div id="g_id_onload" data-client_id="776175008574-7uveb1rst7tr3d66sa1sftjnqgdafkmr.apps.googleusercontent.com"
        data-context="signup" data-ux_mode="redirect"
        data-login_uri="https://wheat-porpoise-135321.hostingersite.com/api/registerOAuth" data-auto_prompt="false">
    </div>

    <div id="g_id_signin_button"></div> -->
    <h1 class="text-center">{{'domain.auth.pages.login.loginTitle' | transloco}}</h1>
    <h2 class="text-center mt-2">{{'domain.auth.pages.login.loginSubtitle' | transloco}}</h2>
    <form nz-form [nzLayout]="'vertical'" [formGroup]="validateForm" (ngSubmit)="submitForm()" class="mt-2">
        <nz-form-item>
            <nz-form-label class="custom-label">{{'domain.auth.pages.login.labelEmail' | transloco}}</nz-form-label>
            <nz-form-control [nzErrorTip]="emailErrorTpl">
                <input nz-input formControlName="usr_email" placeholder="{{'domain.auth.pages.login.placeholderEmail' | transloco}}" />
                <ng-template #emailErrorTpl let-control>
                    {{ control.errors?.['required'] ? ('domain.auth.pages.login.errorEmailRequired' | transloco) : '' }}
                    {{ control.errors?.['email'] ? ('domain.auth.pages.login.errorEmailInvalid' | transloco) : '' }}
                </ng-template>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item class="mt-3">
            <nz-form-label>{{'domain.auth.pages.login.labelPassword' | transloco}}</nz-form-label>
            <nz-form-control [nzErrorTip]="passwordErrorTpl">
                <nz-input-password>
                    <input nz-input placeholder="••••••••" formControlName="usr_password" />
                </nz-input-password>
                <ng-template #passwordErrorTpl let-control>
                    {{ control.errors?.['required'] ? ('domain.auth.pages.login.errorPasswordRequired' | transloco) : '' }}
                    {{ control.errors?.['minlength'] ? ('domain.auth.pages.login.errorPasswordMinLength' | transloco) : '' }}
                </ng-template>
            </nz-form-control>
        </nz-form-item>

        <div class="text-end mt-1">
            <!-- <a routerLink="/home">Forgot your password?</a> -->
        </div>

        <nz-form-item class="mt-2">
            <nz-form-control>
                <button nz-button nzType="primary" nzBlock [nzLoading]="isLoading"
                    [disabled]="!validateForm.valid || isLoading">
                    {{'domain.auth.pages.login.buttonLogin' | transloco}}
                </button>
            </nz-form-control>
        </nz-form-item>
        <div class="text-center mt-1">
            <span style="color: var(--light-text-gray) !important;">
                {{'domain.auth.pages.login.textCreateAccount' | transloco}}
            </span>
            <a routerLink="/auth/create-account" >
                {{'domain.auth.pages.login.linkCreateAccount' | transloco}}
            </a>
        </div>
    </form>
    <nz-divider></nz-divider>
    <div style="display: flex; align-items: center; justify-content: space-between;">

        <app-button-language></app-button-language>
        <app-button-theme></app-button-theme>
    </div>
</div>