/* Spacings */
$margin-1: 8px !default;
$margin-2: 16px !default;
$margin-3: 20px !default;
$margin-4: 32px !default;

$padding-1: 8px !default;
$padding-2: 16px !default;
$padding-3: 32px !default;

/* Cores globais */
$primary-blue: #3B82F6 !default;
$dark-hover-blue: #165996 !default;
$focus-blue: #40a9ff !default;
$dark-border-input: #434343 !default;
$dark-placeholder-input: rgba(255, 255, 255, 0.3) !default;
$light-placeholder-input: #bfbfbf !default;
$primary-red: #ff4d4f !default;

$header-height: 80px !default;
$shadow-color: #000000 !default;
