@use 'sass:meta';
@use 'themes/variables' as *;
@use 'themes/dark' as dark;
@use 'themes/reset';
@use 'themes/utilites';
@use 'themes/base';
@use 'themes/intl-input';

/* Tema Dark NG-ZORRO */
@import "../../node_modules/ng-zorro-antd/ng-zorro-antd.dark.css";

:root {
  @include dark.dark-theme;
}