@use 'sass:meta';
@use 'themes/variables' as *;
@use 'themes/light' as light;
@use 'themes/reset';
@use 'themes/utilites';
@use 'themes/base';
@use 'themes/intl-input';

/* Tema Light NG-ZORRO */
@import "../../node_modules/ng-zorro-antd/ng-zorro-antd.css";

:root {
  @include light.light-theme;
}